.featured-show {
  .centered-flex;
  text-transform: uppercase;
  padding: 5rem 0;

  &--image {
    width: 50vw;
  }

  &--meta {
    color: @dark-grey;
    font-size: 0.5rem;
    margin: 5px 0;
  }

  &--title {
    margin: 0;
    font-size: .75rem;
  }
}